.Frequently-Asked-Questions {
    display: flex;
    flex-direction: column;
}

.Frequently-Asked h2 {
    color: white;
}
.Frequently-Asked p {
    color: #999999;
    font-size: 16px;
}


.flexer {
    display: flex;
    
}
.flexer div p{
    margin-top: 30px;
}

.Frequently-Asked button {
    height: 50px;
    width: 170px;
    margin-bottom: 30px;
    color: white;
    background-color: #E50000;
    font-size: 13px;
    border-radius: 8px;
    border: none;
    margin-left: 20px;
}


.i1img {
    height: 67px;
    width: 62px;
}

.i2img {
    height: 1px;
    width: 500px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.q-box span {
    color: #FFFFFF;
    font-size: 15px;
    margin-top: 7px;
}


.Frequently-Main {
    display: flex;
    justify-content: space-between; 
    
    margin-left: 250px;
    
    
}

.left-box, .right-box {
    display: flex;
    flex-direction: column;
    width: 48%; 
}


.boxx {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 150px;
}


.q-box {
    box-sizing: border-box;
    display: flex;
    width: 500px;
    height: 70px;
    align-items: center; 
    justify-content: space-between; 
    cursor: pointer; 
}

.plus-img {
    height: 15px;
    width: 15px;
    margin-top: 7px;
    margin-right: 10px; 
}


.q-box.new_back .answer-content {
    display: block;
}


.answer-content {
    display: none;
    color: #999999;
    font-size: 14px;
    padding-left: 70px; 
    margin-bottom: 15px;
}


.q-box.new_back + .answer-content {
    display: block;
}

.answer-content {
    max-width: 500px;
    text-align: left;

}



.pricing-section {
    padding: 50px 0;
    margin-top: 100px;
}
.pricing-section h2{
    color: white;
    margin-left: 250px;
    margin-bottom: 20px;
}
.pos{
    display: flex;
    gap: 150px;
}


.pricing-section p {
    color: #999;
    margin-bottom: 30px;
    margin-left: 250px;
}

.toggle-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 10px;
}

.toggle-button {
    
    color: #999999;
    border: 1px solid white;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    width: 88px;
    height: 50px;
    border: none;
}

.toggle-button.active {
    
    color: white;
    border: none;
    
}

.plans-container {
    display: flex;
    margin-left: 250px;
    gap: 15px;
}

.plan-box {
    background-color: #1A1A1A;
    padding: 30px;
    
    border-radius: 12px;
    
    box-sizing: border-box;
    width: 375px;
    height: 355px;
}

.plan-box div{
    background-color: #1A1A1A;
    margin-top: 45px;
    
}

.plan-box h2 {
    background-color: #1A1A1A;
    color: white;
    margin-left: 10px;
    margin-bottom: 15px;
}

.plan-box p {
    background-color: #1A1A1A;
    color: #999;
    font-size: 14px;
    margin-bottom: 70px;
    margin-left: 10px;
}

.plan-box h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    background-color: #1A1A1A;
    color: white;
    margin-left: 10px;
}
.pos_button {
    display: flex;
    gap: 10px;
}
.plan-box span {
    background-color: #1A1A1A;
    font-size: 1rem;
    color: #999;
}

.btn-trial, .btn-choose {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn-trial {

    background-color: #141414;
    color: white;
    border: 1px solid #141414;
}

.btn-choose {
    
    background-color: #E50000;
    color: white;
    transition: background-color 0.3s ease;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c1c;
    padding: 15px 20px;

}

.logo img {
    width: 150px;
}

.navss {
    border: 5px solid rgb(31, 31, 31);
    border-radius: 8px;
    background-color: rgb(15, 15, 15);
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.nav-links a {
    margin-top: 120px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: transparent;
    font-size: 16px;
    padding: 5px 0;
    position: relative;
}

.nav-links a:hover {
    color: #e50914;
}

.nav-icons a {
    margin-left: 15px;
    height: 10px;
    background-color: rgb(28, 28, 28);
}

.nav-icons img {
    width: 70px;
}

.bor {
    border-radius: 5px;


}

.slid-img {
    justify-content: center;
    text-align: center;
}