* {
    background-color: black;
    padding: 0px;
    margin: 0px;
    font-family: "Manrope", sans-serif;
}
/* ExploreSection */
.SectionExplore {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
    margin-left: 500px;
}
.SectionExplore div h1 {
    color: white;
    margin-left: -1000px;
    margin-bottom: 30px;
}
.SectionExplore div p {
    color: white;
    margin-left: -520px;
}
/* Explore_box */
.Explore_box {
    border-radius: 10px;
    margin-top: 60px;
    display: flex;
    gap: 120px;
    margin-left: -250px;
}

.Explore_box div h3{
    color: white;
    background-color: #262626;
    
}
.Explore_box div i{
    margin-top: 7px;
    color: white;
    background-color: #262626;
}
.cenareham {
    padding: 30px;
    display: flex;
    gap: 80px;
    background-color: #262626;
    margin-top: 40px;

}
.boxes{
    margin-top: -190px;
    box-sizing: border-box;
    width: 240px;
    height: 340px;
    
    background-color: #262626;
    border-radius: 10px;
}
.pics_of__Explorebox{
    margin-top: 300px;
    background-color: #262626;
}
.pics_of__Explorebox img{
    
    width: 193px;
    height: 210px;
}


.WeProvide div h1{
    color: white;

}
.WeProvide div p{
    color: white;

}
.owl-theme {
    color: white;
}
.owl-nav{
    display: flex;
    gap: 204px;
    
}
.owl-dots{
    width: 207px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    top: 30px;
    right: 113px;
    
}
.owl-dot span{
    width: 15px !important;
    height: 5px !important;
    
}
.owl-nav{
    width: 300px;
    height: 68px;
    background-color: #0F0F0F;
    border: 1px solid #262626;
    position: absolute;
    top: 10px;
    right: 68px;
}
/* .owl-next{
    overflow: hidden;
    z-index: 1;
    
} */
.owl-next span{
    
    background-color: transparent;
    width: 60px;
    height: 60px;
    background-color: #262626;
    border-radius: 6px;
    padding: 15px;
}
.owl-prev span{
   
    background-color: transparent;
    width: 60px;
    height: 60px;
    background-color: #262626;
    border-radius: 6px;
    padding: 15px;
}