* {
    background-color: black;
    padding: 0px;
    margin: 0px;
    font-family: "Manrope", sans-serif;
}
/* ExploreSection */
.SectionExplore {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.SectionExplore div h1 {
    color: white;
    margin-left: -480px;
}
.SectionExplore div p {
    color: white;
}